mixin sAgreementAndFee()
	// start sAgreementAndFee
	+b.SECTION.sAgreementAndFee.section#sAgreementAndFee&attributes(attributes)
		+e.inner-cont.container
			+e.inner-row.row
				+e.img-col.col-lg-6.d-none.d-lg-flex
					img.lazy(src="#" data-src="img/@2x/a4-paper-sliced-jpg.jpg" alt="")
				+e.conent-col.col-lg-6
					+e.title-bl
						p Условия сотрудничества
						h2 Договор и оплата
					+e.content-tabs.tabs
						+e.content-tabs-caption.tabs__caption
							+e.content-tabs-caption-item.tabs__btn Условия договора
							+e.content-tabs-caption-item.tabs__btn.active Смета и расчет
						+e.mobile-img-block.d-flex.d-lg-none
							img.lazy(src="#" data-src="img/@2x/a4-paper-sliced-jpg.jpg" alt="")
						+e.content-tabs-content.tabs__wrap
							+e.content-tabs-content-item.tabs__content
								+e.txt-cont
									p Наша редакция договора строительного подряда продуманная и содержит основные разделы, подробно отражающие схему взаимодействия: предмет договора и его общие положения, права и обязанности сторон, договорную стоимость и порядок оплаты, порядок сдачи и приемки работ, ответственность сторон, гарантийные обязательства и, конечно же, особые условия и порядок разрешения споров.
									p Каждая редакция договора подлежит индивидуальному согласованию с клиентом. Мы готовы рассмотреть абсолютно любые Ваши пожелания и внести правки в редакцию договора, вплоть до рассмотрения полностью Вашей версии будущего договора подряда.
									p Вы можете скачать нашу типовую редакцию для ознакомления и задать интересующие Вас вопросы нашим специалистам.
								+e.A.download-btn(href="#")
									+icon('download-cloud')
									span Скачать типовой договор
							+e.content-tabs-content-item.tabs__content.active
								+e.txt-cont
									p Наш формат сметного расчета на строительство Вашего будущего дома - это не только прозрачный детальный расчет, наглядно отражающий объемы всех работ, применяемых строительных материалов и механизмов, а развернутый документ (техническое задание), отражающий все основные конструкции будущего дома, их габаритные размеры и технические характеристики.
									p При таком подходе, Вы видите стоимость каждой взятой отдельной конструкции и ее характеристики. Это позволяет легко оценить наше ценообразование и без труда внести правки в комплектацию, чтобы мы сформировали Вам оптимальный вариант по соотношению цена/качество.
									p На все проекты из наших каталогов мы готовы предоставить сметные расчеты для Вашего ознакомления. Если у Вас есть свой готовый проект, то мы произведем бесплатный расчет стоимости и предоставим его в таком же детальном и развернутом формате.
								+e.A.download-btn(href="#")
									+icon('download-cloud')
									span Скачать типовой договор
	// end sAgreementAndFee