.footer {
  padding-top: rem(75);
  padding-bottom: rem(58);
  background-color: $body-color;

  &__main-footer-row{
    padding-bottom: rem(50);
  }
  //logo col
  &__logo-col{
    margin-bottom: rem(25);
    @include media-breakpoint-up(lg){
      margin-bottom: 0;
    }

    max-width: 100%;
    @include media-breakpoint-up(xl){
      padding-left: 0;
    }
  }
  &__logo-link{
    display: block;
    padding-bottom: rem(25);
    max-width: 130px;
    @include media-breakpoint-up(sm){
      max-width: 100%;
    }

    img{
      max-width: 100%;
    }
  }
  &__after-logo-txt{
    font-size: rem(16px);
    line-height: rem(21px);
    color: $white;
  }
  //menu-col
  &__menu-col{
    //background-color: pink;
    @include media-breakpoint-up(xl){
      padding-left: 0;
    }
    ul{
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      max-width: 400px;
      li{
        max-width: 200px;
        width: 50%;
        @include media-breakpoint-up(lg){
          width: 40%;
          &:nth-child(2n + 1){
            width: 60%;
          }
        }
        a{
          display: block;
          padding-bottom: rem(17);
          color: $footer-gray;
          font-size: rem(16px);
          line-height: rem(21px);
        }
        &.current-menu-item{
          a{
            color: $warning;
          }
        }
      }
    }
  }
  //iconed-col
  &__iconed-col{
    //background-color: pink;
    //border-right: 2px solid red;
    &.our-contacts{
      padding-top: 10px;
      @include media-breakpoint-up(md){
        padding-top: 0;
      }
    }
  }
  &__iconed-col-headline{
    color: $footer-light-dark;
    font-size: rem(16px);
    line-height: rem(21px);
    margin-bottom: rem(20);

    @include media-breakpoint-up(lg){
      width: rem(175px);
      margin-left: auto;
    }
  }
  &__iconed-col-item{
    @include media-breakpoint-up(lg){
      margin-left: auto;
      max-width: rem(175px);
    }

    display: flex;
    align-items: flex-start;
    padding-bottom: rem(20);
    .img-box{
      max-width: 24px;
      max-height: 24px;
      margin-right: rem(13);
      display: flex;
      img{
        min-height: 100%;
        //max-height: 100%;
        min-width: 100%;
        //max-width: 100%;
      }
    }
    span{
      color: $white;
      font-weight: 500;
      font-size: rem(14px);
      line-height: rem(18px);
    }
  }
  //lower-links-box
  &__lower-links-box{
    position: relative;
  }
  &__lower-link-item{
    margin-bottom: rem(16);
    @include media-breakpoint-up(md){
      margin-bottom: 0;
    }
    &.privacy-policy-link{
      @include media-breakpoint-up(xl){
        padding-left: 0;
      }
      text-align: left;
      @extend .text-warning;
      font-size: rem(14px);
      line-height: rem(18px);
    }
    &.all-rights-reserved{
      text-align: center;
      color: #434E57;
      font-size: rem(14px);
      line-height: rem(18px);

      position: absolute;
      padding-top: rem(10);
      top: 100%;
      left: 0;
      @include media-breakpoint-up(md){
        position: static;
        padding-top: rem(0);
      }
    }
    &.made-by{
      @include media-breakpoint-up(md){
        text-align: right;
      }

      span:first-child{
        color: $white;
        &:after{
          content: ' ';
        }
      }
      span:last-child{
        color: $warning;
      }
    }
  }
  &__{}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}