.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-angle-left {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-angle-right {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-big-phone-used-m {
	font-size:(86/10)*1rem;
	width:(86/86)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-check-calendar {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-check-classic {
	font-size:(10/10)*1rem;
	width:(10/10)*1em;
}
.icon-cross {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-doc {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-download-cloud {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-filter-svg {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-phone-header {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-play-icon {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-slider-next {
	font-size:(16/10)*1rem;
	width:(18/16)*1em;
}
.icon-slider-prev {
	font-size:(16/10)*1rem;
	width:(18/16)*1em;
}
.icon-small-blue-arrow-right {
	font-size:(8/10)*1rem;
	width:(17/8)*1em;
}
.icon-small-blue-bad {
	font-size:(20/10)*1rem;
	width:(21/20)*1em;
}
.icon-small-blue-location {
	font-size:(14/10)*1rem;
	width:(11/14)*1em;
}
.icon-small-blue-shower {
	font-size:(20/10)*1rem;
	width:(21/20)*1em;
}
.icon-small-white-clock {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-small-white-umbrella {
	font-size:(30/10)*1rem;
	width:(31/30)*1em;
}
.icon-small-white-window {
	font-size:(30/10)*1rem;
	width:(31/30)*1em;
}
.icon-vue-link-square-item {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-vue-link-table-item {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
