mixin sMainSlider()
	// start sMainSlider
	+b.sMainSlider#sMainSlider&attributes(attributes)
		+e.main-slider
			.main-slider-prev.slider-prev-frame.d-none.d-xxl-flex
				+icon("slider-prev")
			.main-slider-next.slider-next-frame.d-none.d-xxl-flex
				+icon("slider-next")
			+e.grid-box
				.left-line-cont
				.right-line-cont
				.grid-container-box
					.grid-container.container
			.swiper-container.main-slider-js
				.swiper-wrapper
					.swiper-slide
						+swiperSlide()
					.swiper-slide
						+swiperSlide()
					.swiper-slide
						+swiperSlide()
					.swiper-slide
						+swiperSlide()
			.container.pagination-wrapper1
				+b.pugination-container
					.main-slider-js-pugin.swiper-bullets-frame
					.main-slider-js-custom-fractional-pugin
						span.current 01
						span.slash /
						span.max 11


mixin swiperSlide(pTxt="Возводим дома и коттеджи по выгодным ценам с учетом возможностей наших клиентов")
	+b.swiper-slide-cont
		+e.img-container.d-none.d-md-block
			img.swiper-lazy(data-src="img/@2x/main-slider-bg-img.png" src="#" alt="")
		+e.inner-container.container
			+e.slide-content
				+e.slide-title Выгодное предложение каждому
				+e.slide-headline
					span.black-txt Строительство домов и коттеджей в Нижнем Новгороде и области&#160;
					span.yellow-txt по ценам 2019 года
				+e.P.slide-descr=pTxt
				+e.A.get-calc-btn Рассчитать стоимость




	// end sMainSlider