extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sMap/_sMap.pug

include ../blocks/sMainSlider/_sMainSlider.pug
include ../blocks/sProfit/_sProfit.pug
include ../blocks/sLastProjects/_sLastProjects.pug
include ../blocks/sUsedMaterials/_sUsedMaterials.pug
include ../blocks/Calculator/_Calculator.pug

include ../blocks/sEstimateDiscount/_sEstimateDiscount.pug
include ../blocks/sAgreementAndFee/_sAgreementAndFee.pug
include ../blocks/sSimpleSteps/_sSimpleSteps.pug
include ../blocks/sProblems/_sProblems.pug
include ../blocks/sAskEngineer/_sAskEngineer.pug
include ../blocks/sOtherServices/_sOtherServices.pug
include ../blocks/sFeedback/_sFeedback.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'главная'
	title= title
block pagecontent
	+header()
	+mobMenu2()
	+sMainSlider()
	+sProfit()
	+sLastProjects()
	+sUsedMaterials()
	+Calculator()
	+sEstimateDiscount()
	+sAgreementAndFee()
	+sSimpleSteps()
	+sProblems()
	+sAskEngineer()
	+sOtherServices()
	+sFeedback()
	+sMap()
	+footer()