// мобильное меню

// мобильное меню
$h: em(2);

.toggle-menu-mobile {
	//background-color: red;
	height: rem(56);
	width: 30vw;
	z-index: 101;
	position: absolute;
	right: 0;
	color: $body-color;
	display: flex;

	span,
	span:after,
	span:before {
		display: block;
		width: 30px;
		height: 2px;
		border-radius: 1px;
		background-color: $body-color;
	}
	span {
		//@include a-cent(y);
		margin: auto rem(20) auto auto;
		position: relative;
	}
	span:after,
	span:before {
		content: "";
		position: absolute;
	}
	span:before {
		top: 5px;
		//background-color: green;
		width: 20.5px;
		right: 0;
	}
	span:after {
		bottom: 5px;
		left: 0;
	}
	//on
	&.on {
		color: #ffffff;
	}
	&.on span {
		background-color: transparent;
		//
	}
	&.on span:before {
		//background-color: red;
		width: 30px;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		transform-origin: 50% 50%;
	}

	&.on span:before {
		transform: rotate(45deg);
	}

	&.on span:after {
		transform: rotate(-45deg);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	height: 100vh;
	width: 280px;
	top: 0;
	right: 0;
	transform: translate(120%, 0);
	@include mt(.6);
	will-change: transform;

	&__inner {
		background-color: $light-white;
		//background-color: red;
		padding: rem(20) 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;

		//logo
		.logo-link{
			height: rem(56);
			display: block;
			padding: 0 rem(20) rem(20) rem(20);
		}
		.logo-link-img{
			max-height: 100%;
			max-width: 100%;
		}
		//phone col
		.phone-col{
			display: flex;
			//align-items: center;
			flex-direction: column;
			padding: rem(20);
		}
		.phone-link{
			display: flex;
			align-items: center;
			margin-bottom: rem(20);
			color: $body-color;
		}
		.phone-img-cont{
			margin-right: rem(15);
		}
		.phone-img{
			width: 24px;
			height: 24px;
		}
		.phone-number{
				font-weight: 700;
		}
		.left-order-btn{
			font-weight: 500;
			font-size: 16px;

		}
	}

	&.active {
		transform: translate(0, 0);
		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		cursor: pointer;
		position: absolute;
		opacity: 0;
		right: 100%;
		color: #FFF;
		top: 0;
		z-index: 9999;
		//background-color: pink;
		width: auto;//40px
		height: rem(56);
		//background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;
			span {
				background-color: transparent;
				margin: auto 5px;
			}
		}
	}


	ul {
		position: relative;
		//background-color: pink;
	}

	li {
		display: block;
		margin: 0;
		border-top: 1px solid rgba(255, 255, 255, .13);

		a {
			color: $body-color;
			padding: rem(10) rem(10) rem(10) rem(20);
			display: block;
			&.active{
				color: $warning;
			}
		}
	}
}