 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: block;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
	}
	.icon{
	font-size: rem(30);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

//breadcrumbs

.breadcrumb-slider-js-prod-card03{
 padding-bottom: rem(18);

 .breadcrumb {
	 background-color: transparent;
	 //background-color: red;
	 display: flex;
	 flex-wrap: nowrap;
	 padding: 0 0 0 0;
 }

 .breadcrumb-item {
	 width: auto;
	 //padding-right: 30px;
	 padding-right: 4px;
	 position: relative;
	 &:before{
		 //display: none;
		 position: absolute;
		 //color: red;
		 left: 0;
	 }
	 a {
		 font-weight: normal;
		 line-height: rem(22px);
		 font-size: rem(16px);
		 color: $warning;
	 }

	 &.active {
		 a {
			 color: $breadcrumb-gray;
			 pointer-events: none;
			 //color: red;
		 }
	 }
 }
}