mixin sLastProjects()
	// start sLastProjects
	+b.SECTION.sLastProjects.section#sLastProjects&attributes(attributes)
		+e.inner-cont.container
			+b.section-title
				p Наше портфолио
				h2 Последние проекты
			//+catalogSquareItemsForIndex00('d-none d-sm-flex')
			.last-project-slider
				.last-project-slider-js-pugin.swiper-bullets-frame.d-block.d-sm-none
				.swiper-container.last-project-js
					.swiper-wrapper
						.swiper-slide
							+catalogSuareItemForIndex00(1)
						.swiper-slide
							+catalogSuareItemForIndex00(2)
						.swiper-slide
							+catalogSuareItemForIndex00(3)
						.swiper-slide
							+catalogSuareItemForIndex00(4)
						.swiper-slide
							+catalogSuareItemForIndex00(5)
						.swiper-slide
							+catalogSuareItemForIndex00(6)

	// end sLastProjects