mixin sLastProjects()
	// start sLastProjects
	+b.SECTION.sLastProjects.section#sLastProjects&attributes(attributes)
		+e.inner-cont.container
			+b.section-title
				p Наше портфолио
				h2 Последние проекты
			+catalogSquareItemsForIndex00('d-none d-sm-flex')
			.last-project-slider.d-block.d-sm-none
				.last-project-slider-js-pugin.swiper-bullets-frame
				.swiper-container.last-project-js
					.swiper-wrapper
						.swiper-slide
							+catalogSuareItemForIndex00()
						.swiper-slide
							+catalogSuareItemForIndex00()
						.swiper-slide
							+catalogSuareItemForIndex00()
						.swiper-slide
							+catalogSuareItemForIndex00()
						.swiper-slide
							+catalogSuareItemForIndex00()
						.swiper-slide
							+catalogSuareItemForIndex00()

	// end sLastProjects