// start .sLastProjects
.sLastProjects {
	padding: 0;
	background-color: $light-white;
	&__inner-cont{
		padding-top: 76px;
		padding-left: 0;
		padding-right: 0;

		padding-bottom: 85px;

		max-width: calc(100% - 30px);
		position: relative;
		border-left: 1px solid $border-container-color;
		border-right: 1px solid $border-container-color;
		@extend .strip-in-middle;
		.section-title{
			padding-bottom: 46px; //??
			position: relative;
			z-index: 2;

			p{
				margin-bottom: 5px;
			}
		}
	}

	.catalog-square-items-container{
		margin-bottom: 0;
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sLastProjects

//.last-project-slider

.last-project-slider{
	position: relative;
	width: calc(100% + 2px);
	left: -1px;
	padding-bottom: 90px;

	.last-project-slider-js-pugin{
		position: absolute;
		top: calc(100% - 60px);
		left: 0;
		width: 100%;
		text-align: center;
	}
	.swiper-wrapper{
		@include media-breakpoint-up(sm){
			flex-wrap: wrap !important;
			transform: none !important;
		}

		@include media-breakpoint-up(lg){
			position: relative;
			margin-left: -10px;
			margin-right: -10px;
			width: auto;
		}
	}
	.swiper-container{
		overflow: visible;
		position: relative;
	}

	.swiper-slide{

		@include media-breakpoint-up(sm){
			&.swiper-slide-duplicate{
				display: none !important;
			}
		}
		@include media-breakpoint-between(sm, md){
			width: 50% !important;
			margin: 0 !important;

			//1 col
			&:nth-child(2n - 1){
				padding-left: 10px !important;
			}
			// 2 col
			&:nth-child(2n){
				padding-right: 10px !important;
			}
		}
		@include media-breakpoint-up(lg){
			width: 33.333% !important;
			margin: 0 !important;

			padding: 10px !important;
		}
		.catalog-square-item{
			width: 100% !important;
			max-width: 100% !important;
			padding: 0;
			&__content{
				box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
			}
			&__content-part{
				background-color: $white;
			}
		}
	}
}